# ignore all media files
#auctions/media/images/*
auctions/media/images/11188207_1587399894869279_5920247776507890834_n.jpg
auctions/media/images/11203135_1587400218202580_6180775688446441637_n.jpg

# ignore database and related file
db.sqlite3
schema.sql

# ignore any test files
test.py

# ignore any pycache
auctions/__pycache__/
commerce/__pycache__/