{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    Listing edit page for {{ listing_id }}
    <form action="{% url 'auctions:listing_edit' listing_id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <img src="{{ image.url}}" width="150" height="auto">
        {{ form }}
        
       
        <input class="btn btn-primary" type="submit" value="List">
    </form>

{% endblock %}